<head>
    <style>{%capture include_to_scssify%}{%include style.scss%}{%endcapture%}{{include_to_scssify | scssify}}</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.meta}}">
    <link rel="shortcut icon" href="https://cdn-images-1.medium.com/max/800/1*X2FCn3i47C9QApbKGum9Xg.png">
    <link rel="apple-touch-icon-precomposed" href="https://cdn-images-1.medium.com/max/800/1*X2FCn3i47C9QApbKGum9Xg.png">
    <link rel="canonical" href="{{page.url}}">
</head>