/*
 * HEADER STARTS
 */
.site-nav__home {
    color: #dfdfdf;
    font-family: "Playfair Display", "Georgia", serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
}

//.site-logo {
//    background-color: #efefef;
//    border-radius: 100%;
//    display: block;
//    height: 2.125rem;
//    width: 2.125rem;
//}
/*
 * HEADER ENDS
 */