/*
 * BASE STARTS
 */
html { box-sizing: border-box; }

*,
*:before,
*:after { box-sizing: inherit; }

body {
    background-color: #fff;
    color: #333;
    font-family: "Source Sans Pro", "Helvetica", sans-serif;
    font-feature-settings: "onum", "kern";
    font-size: 1rem;
    margin: 0;
}

blockquote {
    margin-bottom: 1.25rem;
    margin-left: 1.75rem;
    margin-right: 0;
    margin-top: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

ol,
ul {
    margin-bottom: 1.25rem;
    margin-top: 0;
    padding-left: 0;
}



/*
 | LAYOUT STARTS
 */
.page-wrapper {
    margin: 0 auto;
    width: 85%;
}

.page-column::after {
    clear: both;
    content: " ";
    display: table;
}

.no-whitespace { margin-bottom: 0; }

.page-head,
.page-foot {
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.page-foot { color: #767676; }
/*
 | LAYOUT ENDS
 */
/*
 * BASE ENDS
 */
