/*
 * TYPO STARTS
 */
a {
    color: #dd1010;
    text-decoration: none;
}

h1, h2,
h3, h4 {
    font-family: "Source Sans Pro", "Helvetica", sans-serif;
    line-height: 1.125;
    margin-bottom: 0.25rem;
    margin-top: 0;
}

h1 { font-size: 1.5157rem; }

h2 { font-size: 1.3195rem; }

h3 { font-size: 1.1487rem; }

h4 { font-size: 1rem; }

p {
    margin-bottom: 0;
    margin-top: 0;
}

sub, sup {
    font-size: 0.8706rem;
    line-height: 0;
}

.page-foot p a { font-weight: 700; }

.you-are-here { color: #333; }
/*
 * TYPO ENDS
 */
